:root {
    --body-backgroud: #243c5a;
    --card-backgroud: #232f3e;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--body-backgroud);
}

.form-section {
    width: 60%;
    margin: 5rem auto;
}

.card-user-section {
    width: 60%;
    margin: auto;
    background-color: var(--card-backgroud);
    color: white;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    align-items: center;
    box-shadow: 0px 5px 10px 0px var(--card-backgroud);
    overflow: hidden;
}


.form-section #searchUser {
    font-size: 1rem;
    background-color: var(--card-backgroud);
    border: none;
    padding: 1rem;
    border-radius: 10px;
    color: white;
    outline: none;
    width: 100%;
    box-shadow: 0px 5px 10px 0px var(--card-backgroud);
}

.form-section #searchUser::placeholder {
    color: rgba(245, 245, 245, 0.452);
}

.card-user__image>figure {
    width: 11rem;
}

.card-user__image .card-user__image--avatar {
    width: 10rem;
    border-radius: 50%;
    border: 0.5rem solid var(--body-backgroud);
}

.card-user__info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    width: 100%;
}

.card-user__repositories {
    width: 100%;
}

.card-user__repositories fieldset {
    padding: 0.5rem;
    border-radius: 6px;
    /* border-color: var(--card-backgroud); */
    border: 1px solid rgba(245, 245, 245, 0.199);
}

.card-user__repositories fieldset legend {
    font-size: 0.8rem;
    letter-spacing: 1px;
}

.card-user__repositories li {
    display: inline-block;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
}

.card-user__repositories li a {
    font-size: 0.7rem;
    color: white;
    padding: 0.3rem;
    text-decoration: none;
    border-radius: 6px;
    background-color: var(--body-backgroud);
}

.card-user__info--username {
    margin-bottom: 1rem;
    letter-spacing: 2px;
}

.card-user__info--details {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.error-section {
    background-color: white;
    color: var(--card-backgroud);
    font-size: 1rem;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 5px 5px 20px 5px var(--card-backgroud);
    position: fixed;
    right: 1rem;
    bottom: -5rem;
    opacity: 0;
    transition: opacity 2s, bottom 300ms linear;
}

.error-section.show-error {
    bottom: 3rem;
    opacity: 1;
}

@media (max-width: 50rem) {
    .card-user-section {
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .form-section {
        width: 95%;
    }

    .card-user__image>figure {
        width: 7rem;
    }

    .card-user__image .card-user__image--avatar {
        width: 6rem;
    }

    .card-user__info--username {
        letter-spacing: 1px;
        font-size: 1.2rem;
        text-align: center;
    }

    .card-user__info--bio {
        text-align: center;
    }

    .card-user__info--details span {
        text-align: center;
    }

}